{% extends 'polls/base.html' %}

{% block content %}
    <div class="questionBox">
        <div class="headerBox">
            <p>{{ question.question_text }}</p>
        </div>
        <div class="voteBox">
            <div class="mainBox">
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'polls:vote' question.id %}" method="post" name="poll">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                        <input class="vote" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <div class="submitInput">
                        <input type="submit" value="Vote" name="vote">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}